.header-prepend {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 8px 0;

    &__tel {
        color: currentColor;
        text-decoration: none;
        letter-spacing: 1px;
    }
}

.header {
    &__main {
        position: relative;
        padding: 48px 0;
    }
}

.logo {
    display: block;
    border: 0;

    &__image {
        display: block;
        width: 180px;
    }
}

.logo-placeholder {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: currentColor;
    font-size: 1.4em;
    //font-weight: bold;
}


.callback-button {
    background-color: transparent;
    color: currentColor;
    border: 0;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
}

// Links module
.links_in_header .links {

    &__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 7px 10px;
        text-decoration: none;
        color: var(--text-secondary);

        &:hover {
            color: var(--text-primary);
        }
    }
}
