.header {
    border-bottom: 1px solid var(--border);

    &__row {
        align-items: center;

        //Mods
        &_top {
            background-color: #2b2b2b;
            color: #fff;
            text-align: center;
            padding: 8px 0;
        }

        &_middle {
            padding: 32px 0 16px;
        }

        &__bottom {

        }
    }

    &__tel {
        color: currentColor;
        text-decoration: none;
        letter-spacing: 1px;
    }
}

.logo {
    display: block;
    border: 0;

    &__image {
        display: block;
        width: 180px;
    }
}

.logo-placeholder {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: currentColor;
}

.search-box {
    position: relative;
    display: flex;
    margin-right: 12px;
    flex-grow: 1;

    //Elements
    &__icon {
        width: 18px;
        height: 18px;
        margin: 4px;

        fill: none;
        stroke-width: 3;
        stroke: #ccc;
    }

    &__input {
        width: 200px;
        padding: 2px 4px 4px;
        margin-left: auto;
        box-sizing: border-box;
        border: 0;
        border-bottom: 2px solid var(--border);
        font-size: 12px;
        font-family: inherit;
        vertical-align: middle;

        &:focus {
            outline: none;
        }
    }
}

.callback-button {
    background-color: transparent;
    color: currentColor;
    border: 0;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
}
