.menu {
    position: relative;

    $this: &;

    &__list {
        display: flex;
        padding: 0;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__item {
        list-style: none;

        //Mods
        &_has_children {

            #{$this}__link {
                padding-right: calc(20px - 1em);

                &::after {
                    content: '';
                    display: inline-block;
                    height: 1em;
                    width: 1em;
                    margin-left: .5em;
                    background-image: url(../image/arrow.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__link {
        display: inline-block;
        padding: 4px 20px;
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
        color: currentColor;
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var(--border);
    background-color: rgba(#fff, .8);
    backdrop-filter: blur(10px);
}

.menu__item:hover .submenu {
    display: block;
}

.sublinks {
    margin: 48px;

    &__caption {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    &__list {
        margin-top: 8px;
        padding: 0;
    }

    &__item {
        list-style: none;
    }

    &__link {
        color: currentColor;
        text-decoration: none;
    }
}
