.search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    border-bottom: 1px solid var(--border);
    background-color: var(--background-primary);
    z-index: 100;

    &__body {
        display: flex;
        align-items: center;
    }

        &__input {
            flex-grow: 1;
            box-sizing: border-box;
            border: 0;
            font-family: inherit;
            font-size: 2em;
            font-weight: bold;
            outline: none;
            text-align: center;
        }

        &__submit {
            display: none;
        }
}
