

.button-group {
    display: flex;

    &__button {
        margin-right: 12px;
    }

    & :last-child {
        margin-right: 0;
    }
}


.category-tags {
    box-sizing: border-box;
    padding: 48px;

    &__title {
        margin: 0 0 16px 0;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        flex-flow: row wrap;
    }

    &__item {
        display: block;
        list-style: none;
        margin-right: .5em;
        margin-bottom: .5em;
        border-radius: 16px;
        border: 1px solid var(--border);

        &_color {

            &_black {
                background-color: black;
                color: white;
                border-color: transparent;
            }

            &_gold {
                background-color: rgba(236, 214, 86, 0.808);
                border-color: transparent;
            }

            &_brown {
                background-color: rgb(119, 86, 63);
                color: white;
                border-color: transparent;
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        padding: 2px 8px;
    }
}
