<div class="carousel" data-id="{{ module }}">
    {% for banner in banners %}
        <div class="carousel__item">
            <img
                class="carousel__bg"
                src="{{ banner.image }}"
                alt="{{ banner.title }}" />
        </div>
    {% endfor %}
</div>

<script>
$(function() {
    $('.carousel[data-id={{ module }}]').slick({
        slidesToShow: 7,
        slidesToScroll: 5,
        autoplay: true,
        autoplaySpeed: 5000,
        speed: 1600,
    });
});
</script>
