<div class="carousel" data-id="{{ module }}">
    {% for banner in banners %}
        <div class="carousel__item">
            <img
                class="carousel__bg"
                src="{{ banner.image }}"
                alt="{{ banner.title }}" />
        </div>
    {% endfor %}
</div>
