{% from 'cw/template/components/product_teaser.twig' import product_teaser %}
{% set labels = {
    'button_cart': button_cart,
} %}

<div class="featured">
    <div class="container">
        <h3 class="featured__title">{{ heading_title }}</h3>

        <div class="featured-carousel">
            {% for product in products %}
                {{ product_teaser(product, labels) }}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.featured-carousel').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 3,
            centerPadding: 30,
        })
    })
</script>
