<nav class="link-group{% if class %} {{ class }}{% endif %}">
    <ul class="link-group__list">
        {% for link in links %}
            <li class="link-group__item">
                <a class="link-group__link" href="{{ link.href }}">{{ link.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
