<div class="slideshow" data-id="{{ module }}">
    {% for banner in banners %}
        <div class="slideshow__item">
            <div class="slideshow__inner">
                <h2 class="slideshow__title">{{ banner.title }}</h2>
            </div>

            <img
                class="slideshow__bg"
                src="{{ banner.image }}"
                alt="{{ banner.title }}" />
        </div>
    {% endfor %}
</div>
