$text-font-stack: Noah, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

//Colors
:root {
    --button-background: #19718D;// #2b70dd;
    --button-text: #fff;
    --border: #ebebeb;
    --accent: #ff6d70;
    --primary-text: #090809;
    --secondary-text: #959da8;
}
