$font-stack-sans-serif: Noah, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//Colors
:root {
    --button-background: #19718D;// #2b70dd;
    --button-text: #fff;
    --border: #ebebeb;
    --accent: #ff6d70;
    --primary-text: #090809;
    --secondary-text: #959da8;
}
