//Default bright theme
:root {
    --bg: #fff;
    --text-color: #2b2b2b;

    --button-background: #0083ca;// #2b70dd;
    --button-text: #fff;
    --border: #ebebeb;
    --accent: #ff6d70;
    --primary-text: #090809;
    --secondary-text: #959da8;
}


//bd9a73 - badge
