//Default bright theme
:root {
    --bg: #fff;
    --text-primary: #191919;
    --text-secondary: #959da8;

    --button-background: #0083ca;
    --button-text: #fff;

    --border: #ebebeb;

    --accent: #ff6d70;
    --primary-text: #090809;
    --secondary-text: #959da8;
}


//bd9a73 - badge
