.product {
    margin: 64px 0;

    &__order-block {
        position: sticky;
        top: 64px;
        //bottom: 64px;
    }

        &__brand {

        }

        &__title {
            margin: 0;
            font-size: 3em;
            font-weight: bold;
        }

        &__stock-sku {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
        }

        &__price {
            margin-top: 12px;
        }

        &__stock {
            display: block;
            margin-right: 16px;
        }

        &__sku {
            display: block;
            color: var(--text-secondary);
        }

        &__title {
            margin: 0;
            font-size: 2em;
            font-weight: bold;
        }

        &__price {

        }

        &__buy-block {
            margin-top: 18px;
        }

        &__button-cart {
            margin-right: 24px !important;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
        }

        &__button-quickorder {
            margin-top: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
        }

    &__seller-features {
        margin-top: 32px;
    }

    &__links {
        margin-top: 32px;
    }

    &__attributes {
        margin-top: 32px;
        border-bottom: 1px solid var(--border);
    }

    &__description {
        max-width: 760px;
        margin: 0 auto;
    }

}

.product-brand {
    color: currentColor;
    text-decoration: none;

    &__logo {
        display: block;
    }
}

.product-price {
    font-size: 3em;
    font-weight: bold;

    &__current {
        display: inline-block;
    }

    &__old {
        display: inline-block;
        text-decoration: line-through;
    }
}

//Product photo
.product-photo {
    display: flex;
    flex-flow: row nowrap;

    $gap: 20px;
    $carousel-width: 96px;

    &__carousel {
        width: $carousel-width;
        margin-right: $gap;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__slider {
        box-sizing: border-box;
        width: calc(100% - #{$gap + $carousel-width});
        flex-shrink: 1;
        flex-grow: 0;
    }
}

.product-photo-slider {

    &__photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

.product-photo-carousel {

    &__item {
        margin: 10px 0;
    }

    &__item.slick-current {
        border: 1px solid var(--border)
    }

    &__photo {
        display: block;
        max-width: 100%;
        width: 100%;
    }
}

.seller-features {

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style: none;
        margin: 12px 0;
    }
}

.product-links {

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style: none;
        margin: 12px 0;
    }

    &__link {
        color: var(--text-secondary);
    }
}

.product-info {
    margin-top: 20px;
}

.attributes {
    border-collapse: collapse;
    width: 100%;

    &__subtitle {
        color: var(--secondary-text);
        font-style: oblique;
    }

    &__row {

    }

    &__col {
        padding: 8px 20px 8px 0;
    }

    &__value {
        font-weight: bold;
    }
}

