.product {
    margin: 64px 0;

    //Elements
    &__stock {
        display: block;
    }

    &__price-wrapper {
        margin-top: 4px;
    }

    &__button-wrapper {
        margin-top: 32px;
    }

    &__seller-features {
        margin-top: 32px;
    }

    &__title {
        margin: 0;
        font-size: 3em;
        font-weight: bold;
    }
    &__price {
        margin: 0;
        font-size: 2em;
        font-weight: bold;
    }

    &__attributes {
        margin-top: 32px;
        border-bottom: 1px solid var(--border);
    }

    &__image {
        display: block;
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
    }

    &__manufacturer {
        color: currentColor;
        text-decoration: none;
    }

    &__sku {
        display: block;
        color: var(--secondary-text);
    }

    &__description {
        max-width: 760px;
        margin: 0 auto;
    }

    &__links {
        margin-top: 32px;
    }
}

.seller-features {

    //Elements
    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style: none;
        margin: 12px 0;
    }
}

.product-links {

    //Elements
    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style: none;
        margin: 12px 0;
    }

    &__link {
        color: var(--secondary-text);
    }
}

.attributes {

    &__table {
        border-collapse: collapse;
        width: 100%;
    }

    &__subtitle {
        color: var(--secondary-text);
        font-style: oblique;
    }

    &__row {

    }

    &__col {
        padding: 8px 20px 8px 0;
    }

    &__value {
        font-weight: bold;
    }
}

.sorting {
    padding: 0;
    display: flex;
    margin: 0 0 20px;

    &__item {
        list-style: none;
        margin-right: 1em;
    }

    &__link {
        color: var(--secondary-text);
        text-decoration: none;
    }
}
