.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.width-full {
    width: 100%;
}

.grow {
    flex-grow: 1;
}

.caps {
    text-transform: uppercase;
    letter-spacing: 1px;
}
