.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 8px;
    flex-flow: row;
    align-items: center;
    font: inherit;
    color: var(--button-background);
    border: 1px solid rgba(0, 0, 0, .1);

    &__text {
        display: inline-block;
    }

    &__icon {
        display: inline-block;
        fill: none;
        stroke: currentColor;
        stroke-width: 3;
        width: 1em;
        height: 1em;
        overflow: hidden;
        margin: 0 10px;
    }

    &__badge {

    }

    //Mods
    &_view {

        &_action {
            border-color: transparent;
            background-color: var(--button-background);
            color: var(--button-text);
        }

        &_plain {
            padding: 0;

        }
    }

    &_size {

        &_small {

        }

        &_medium {
            display: block;
            font-size: 18px;
            padding: 12px 24px;
        }

        &_big {
            font-size: 13px;
            padding: 4px 8px;
        }
    }
}

.button-group {
    display: flex;

    &__button {
        margin-right: 12px;
    }

    & :last-child {
        margin-right: 0;
    }
}
