.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 8px;
    flex-flow: row;
    align-items: center;
    font: inherit;
    color: var(--button-background);
    border: 1px solid;
    background-color: transparent;
    border-color: var(--button-background);

    &__inner {
        display: flex;
        flex-flow: row nowrap;
    }

        &__text {

        }

    //Mods
    &_view {

        &_primary {
            border-color: transparent;
            background-color: var(--button-background);
            color: var(--button-text);
        }

        &_secondary {
            padding: 0;
            border-color: transparent;
            color: currentColor;
        }

        &_outline {

        }

        &_flat {

        }
    }

    &_size {

        &_small {

        }

        &_medium {
            display: block;
            font-size: 18px;
            padding: 12px 24px;
        }

        &_big {
            font-size: 13px;
            padding: 4px 8px;
        }
    }
}

.button-group {
    display: flex;

    &__button {
        margin-right: 12px;
    }

    & :last-child {
        margin-right: 0;
    }
}
