@mixin control {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    font: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

//Button
.button {
    @include control;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__prepand {
        margin-right: 8px;
    }

    &__append {
        margin-left: 8px;
    }

    &__badge {
        position: absolute;
        bottom: -4px;
        right: -6px;
        display: block;
        height: 12px;
        padding: 0 6px;
        border-radius: 6px;
        background-color: var(--background-contrast);
        color: var(--text-contrast);
        font-weight: bold;
        font-size: 10px;

        &:empty {
            display: none;
        }
    }

    $this: &;

    //Mods
    &_view {

        &_action {
            border-color: transparent;
            background-color: var(--button-action-background);
            color: var(--button-action-text);
        }

        &_pseudo {
            background-color: transparent;
            border: 1px solid var(--border);
        }


        &_plain {
            padding: 0;
            border-color: transparent;
            color: currentColor;
            background-color: transparent;
        }
    }

    &_size {
        &_small {
            font-size: 13px;
            padding: 4px 8px;

            #{$this}__append {
                margin-left: 4px;
            }
        }
    }
}

//Button group
.button-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .button {
        margin-right: 15px;
    }

    .button:last-child {
        margin-right: 0;
    }
}

//Input
.input {
    @include control;
    display: block;
    border-color: var(--border);
}

.select {
    @include control;
    appearance: none;
    display: block;
    border-color: var(--border);
    border-radius: 0;
}
