.promo-carousel {

    &__button {
        background-color: transparent;
        padding: 0;
        border: 0;
        margin-right: 16px;
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: #000;
    }
}
