.slideshow {

    &__item {
        position: relative;
    }

    &__inner {
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        padding: 64px;
        width: 100%;
    }

    &__title {
        margin: 0;
        font-size: 4em;
        max-width: 33.3%;
    }

    &__bg {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
