.slideshow {

    //Elements
    &__container {
        width: 100%;
        height: 600px;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 0;
        box-sizing: border-box;
        padding-bottom: 100%;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 48px;
        //background-color: #ebebeb;
    }

    &__title {
        margin: 0;
        font-size: 3em;
    }

    &__image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__prev {
        position: absolute;
        top: 50%;
        left: 48px;
        z-index: 10;
    }

    &__icon {
        width: 28px;
        height: 28px;
        fill: black;
    }
}
