<div class="modal auth">
    <button class="modal-close">
        <svg class="modal-close__icon">
            <use href="#icon-close" />
        </svg>
    </button>

    <div class="modal__heading">
        <h2 class="modal__title">{{ cw_auth_title }}</h2>
    </div>

    <div class="modal__messages"></div>

    <div class="modal__body">

        <form class="auth__form" action="#">
            <div class="modal__input-group">
                <label class="modal__label">Номер телефона или адрес почты</label>
                <input name="email" class="modal__input" type="text" />
            </div>

            <div class="modal__input-group">
                <label class="modal__label">Пароль</label>
                <input name="password" class="modal__input" type="text" type="password" />
            </div>

            <button class="button button_view_action width-full" type="submit">Войти</button>
        </form>

        <ul class="auth-links">
            <li class="auth-links__item">
                <a class="auth-links__link" href="">
                    Не помню пароль
                </a>
            </li>
            <li class="auth-links__item">
                <a class="auth-links__link">
                    Я — новый покупатель
                </a>
            </li>
        </ul>

        <p class="modal__footnote">
            Нажимаю кнопку «Войти», я принимаю условия конфидициальности
        </p>
    </div>
</div>
