<a class="button button_view_plain" id="widgetCart" href="{{ cart }}">
    <span class="button__body">
        <svg class="icon">
            <use href="#icon-cart" />
        </svg>
    </span>

    <span class="button__badge">{% if count_products %}{{ count_products }}{% endif %}</span>
</a>
