<a class="button button_view_plain" id="cart" href="{{ cart }}">
    <svg class="icon icon_size_medium">
        <use href="#icon-cart" />
    </svg>

    {% if count_products %}
        <span class="button__badge">{{ count_products }}</span>
    {% endif %}
</a>
