{{ header }}

            <div class="sale-banner">
                <div class="container">
                    СКИДКИ ДО 30% &rarr;
                </div>
            </div>

    <div class="promo">


        <div class="swiper-container promo-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="test">
                        <img
                            src="catalog/view/theme/cw/image/demo/01.jpeg"
                            style="max-width: 100%"
                         />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="test">
                        <img
                            src="catalog/view/theme/cw/image/demo/03.jpeg"
                            style="max-width: 100%"
                         />
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="test">
                        <img
                            src="catalog/view/theme/cw/image/demo/04.jpeg"
                            style="max-width: 100%"
                         />
                    </div>
                </div>


            </div>
        </div>

        <!--div class="container mt-2">
            <div class="d-flex justify-content-center">
                <button class="promo-carousel__button">
                    <svg class="promo-carousel__icon">
                        <use href="#larr" />
                    </svg>
                </button>
                <button class="promo-carousel__button">
                    <svg class="promo-carousel__icon">
                        <use href="#rarr" />
                    </svg>
                </button>
            </div>
        </div-->

    </div>

        {{ promo_bottom }}


        <div class="container">
            <h2 class="latest-products__title">Новинки</h2>
            <div class="row">
                <div class="col-auto">
                    <div class="latest-products__item">
                        <img class="latest-products__thumb" src="catalog/view/theme/cw/image/demo/02.webp" />
                    </div>
                </div>
                <div class="col-auto">
                    <div class="latest-products__item">
                        <img class="latest-products__thumb" src="catalog/view/theme/cw/image/demo/02.webp" />
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row align-items-end pt-5 pb-2">
                <div class="col-10">
                    <p style="color: #959DA8; font-size: 32px; line-height: 1.5; padding-left: 60px">Наш магазин предлагает только оригинальную часовую продукцию, подлинность которой подтверждена сертификатами, и гарантирует неизменно превосходное качество часов и аксессуаров к ним.</p>
                </div>

                <div class="col">
                    <small>
                        Подпись
                    </small>
                </div>
            </div>

        </div>



    <div class="container">
        <div class="row">
            <div class="col-8">
                {{ content_top }}
            </div>

            <div class="col-3 offset-sm-1" style="padding: 60px 0">


                        <div class="quicklink">
                            <div class="quicklink__group">
                                <a href="#" class="quicklink__title">Мужские</a>
                                <a href="#" class="quicklink__color quicklink__color_white"></a>
                                <a href="#" class="quicklink__color quicklink__color_black"></a>
                                <a href="#" class="quicklink__color quicklink__color_gold"></a>
                            </div>
                        </div>
                        <div class="quicklink">
                            <div class="quicklink__group">
                                <a href="#" class="quicklink__title">Женские</a>
                                <a href="#" class="quicklink__color quicklink__color_white"></a>
                                <a href="#" class="quicklink__color quicklink__color_black"></a>
                                <a href="#" class="quicklink__color quicklink__color_gold"></a>
                            </div>
                        </div>


            </div>
        </div>
    </div>

    <div class="container placeholder">
    </div>




<script>
  var mySwiper = new Swiper('.promo-carousel', {
    loop: true,
    slidesPerView: 1.4,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: 4500,
  })
</script>

{{ footer }}
