<nav class="main-menu">
    <ul class="main-menu__list">
        <li class="main-menu__el">
            <a class="main-menu__link" href="#" style="color: var(--accent)">Распродажа</a>
        </li>
        <li class="main-menu__el">
            <a class="main-menu__link" href="#">Мужские</a>
        </li>
        <li class="main-menu__el">
            <a class="main-menu__link" href="#">Женские</a>
        </li>
        <li class="main-menu__el">
            <a class="main-menu__link" href="#">Детские</a>
        </li>
    </ul>
</nav>
