<nav class="menu">
    <ul class="menu__list">
        {% for category in categories %}
            <li class="menu__item">
                <a class="menu__link" href="{{ category.href }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
