
<div class="search-box header__search-box">
    <input class="search-box__input" type="text" placeholder="Поиск" />

    <button class="search-box__submit">
        <svg class="search-box__icon">
            <use href="#find" />
        </svg>
    </button>
</div>

<!--div class="col-lg-auto mr-lg-5">
    <div class="search" id="search">
        <input class="search__input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
        <button class="search__submit">Найти</button>
    </div>
</div-->
