{% from 'cw/template/components/breadcrumbs.twig' import breadcrumbs %}
{% from 'cw/template/components/product_teaser.twig' import product_teaser %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

{{ footer }}
